rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all users under any condition
    // Warning: This is insecure and should only be used for prototyping
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
